{{ (formulaElement.quantity === 1 ? 'FORMULA.MAKE_A_CHOICE' : 'FORMULA.MAKE_SEVERAL_CHOICE') | translate : { FOOD_NAME: formulaElement.dishElement.name | lowercase, QUANTITY: formulaElement.quantity} }}
<div *ngFor="let element of menuService.getFlattenCategorieElements(formulaElement.dishElement.food.id)">
    <app-choice-list
        [element]="element.child"
        [textToReplace]="(element.quantity > 1 ? 'FORMULA.CHOICE_DISPLAY.WITH_QUANTITY' : 'FORMULA.CHOICE_DISPLAY.WITHOUT_NAME') | translate: {QUANTITY: element.quantity}" 
        [extraPrices]="extraPrices" 
    ></app-choice-list> 
    <app-plus-minus-counter
        [quantity]="getQuantity(element.child)"
        [available]="formulaElement.quantity - formArray.length"
        (addElement)="addElement(element.child, element.quantity)"
        (removeElement)="removeElement(element.child)"
    ></app-plus-minus-counter>
</div>

<ng-container
    *ngIf="getElementsWithSubChoice() as formGroupControls"
>
    <ng-container *ngFor="let formGroupControl of formGroupControls; index as i">
        <app-ingredient-choice
            [formArray]="formGroupControl"
            [number]="formGroupControls.length > 1 ? (i + 1) : 0"
            [extraPrices]="extraPrices"
        >
        </app-ingredient-choice>    
    </ng-container>    
</ng-container>
