{{ (formulaElement.quantity === 1 ? 'FORMULA.MAKE_A_CHOICE' : 'FORMULA.MAKE_SEVERAL_CHOICE') | translate : { FOOD_NAME: formulaElement.dishElement.name | lowercase, QUANTITY: formulaElement.quantity} }}
<div *ngFor="let element of menuService.getFlattenCategorieElements(formulaElement.dishElement.food.id)">
    <app-choice-list
        [element]="element.child"
        [extraPrices]="extraPrices" 
    ></app-choice-list> 
    <app-plus-minus-counter
        [quantity]="getQuantity(element.child)"
        [available]="formulaElement.quantity - formArray.length"
        (addElement)="addElement(element.child, element.quantity)"
        (removeElement)="removeElement(element.child)"
    ></app-plus-minus-counter>
</div>

<ng-container *ngFor="let formGroupControl of getElementsWithSubChoice(); index as i">
    <app-ingredient-choice
        [formArray]="formGroupControl"
        [number]="getQuantity(formGroupControl.controls['choice'].value) > 1 ? (i + 1) : 0"
        [extraPrices]="extraPrices"
  >
    </app-ingredient-choice>    
</ng-container>    
