<h3>{{ food.name + (number ? ' ' + number : '') }}</h3>
<div *ngFor="let foodCategoryElement of foodCategoryElements">
    {{ 'FORMULA.MAKE_A_CHOICE' | translate : { FOOD_NAME: foodCategoryElement.child.name } }}
    <ng-container *ngIf="foodCategoryElement.quantity > 1">
        <div *ngFor="let element of foodCategoryElement.elements">
            <app-choice-list
                [element]="element.child"
                [extraPrices]="extraPrices" 
            ></app-choice-list> 
            <app-plus-minus-counter
                [quantity]="getQuantity(foodCategoryElement.child.id, element.child.id)"
                [available]="foodCategoryElement.quantity - formGroup.controls[foodCategoryElement.child.id].value.length"
                (addElement)="addElement(foodCategoryElement.child.id, element.child)"
                (removeElement)="removeElement(foodCategoryElement.child.id, element.child)"
            ></app-plus-minus-counter>
        </div>
    </ng-container>
    <mat-button-toggle-group
        *ngIf="foodCategoryElement.quantity === 1"
    >
        <mat-button-toggle 
            *ngFor="let element of foodCategoryElement.elements" aria-label="Font Style"
            (click)="setSoleElement(foodCategoryElement.child.id, element.child)"
        >
        <app-choice-list
            [element]="element.child"
            [extraPrices]="extraPrices" 
        ></app-choice-list> 
        </mat-button-toggle>
      </mat-button-toggle-group>
</div>