<h3>{{ formArray.controls['choice'].value.name + (number ? ' ' + number : '') }}</h3>
<div *ngFor="let foodCategoryElement of foodCategoryElements">
    <ng-container *ngIf="foodCategoryElement.quantity > 1">
        {{ 'FORMULA.MAKE_SEVERAL_CHOICE' | translate : { FOOD_NAME: foodCategoryElement.child.name, QUANTITY: foodCategoryElement.quantity } }}
        <div *ngFor="let element of foodCategoryElement.elements">
            <app-choice-list
                [element]="element.child"
                [extraPrices]="extraPrices" 
            ></app-choice-list> 
            <app-plus-minus-counter
                [quantity]="getQuantity(foodCategoryElement.child.id, element.child.id)"
                [available]="foodCategoryElement.quantity - formArray.controls['subChoice'].controls[foodCategoryElement.child.id].value.length"
                (addElement)="addElement(foodCategoryElement.child.id, element.child)"
                (removeElement)="removeElement(foodCategoryElement.child.id, element.child)"
            ></app-plus-minus-counter>
        </div>
    </ng-container>
    <ng-container
        *ngIf="foodCategoryElement.quantity === 1"
    >
        {{ 'FORMULA.MAKE_A_CHOICE' | translate : { FOOD_NAME: foodCategoryElement.child.name } }}
        <mat-button-toggle-group
        >
            <mat-button-toggle 
                *ngFor="let element of foodCategoryElement.elements" aria-label="Font Style"
                (click)="setSoleElement(foodCategoryElement.child.id, element.child)"
            >
            <app-choice-list
                [element]="element.child"
                [extraPrices]="extraPrices" 
            ></app-choice-list> 
            </mat-button-toggle>
        </mat-button-toggle-group>
    </ng-container>
</div>