<mat-accordion *ngIf="restaurant$ | async as restaurant">
    <mat-expansion-panel *ngFor="let category of restaurant.categories; index as i; first as isFirst"
    [expanded]="((fragment$ | async) === null && isFirst) || (fragment$ | async) === category.name"
    [id]="category.name"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>{{category.name}}</mat-panel-title>
            <mat-panel-description>{{category.shortDescription}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <div *ngFor="let menu of category.elements" class="category-element">
                <div class="card-category-element-title" *ngIf="menu.name || menu.elements[0].food.type === foodType.DISH">
                    {{ menu | choiceName}}
                </div>
                {{menu.description}}
                <div *ngIf="menu.elements.length > 1">
                    <app-choice-list 
                        *ngFor="let element of menu.elements"
                        [textToReplace]="(element.name ? 'FORMULA.CHOICE_DISPLAY.WITH_NAME' : 'FORMULA.CHOICE_DISPLAY.WITHOUT_NAME') | translate: {NAME: element.name}" 
                        [element]="element.food"
                        [extraPrices]="menu.formulaExtraPrices"
                    >
                    </app-choice-list>
                </div>
                <div *ngIf="menu.elements.length === 1 && menu.elements[0].food.elements.length > 0">
                    {{ 'FORMULA.INGREDIENT_DISPLAY' | translate: {FOODS: (menu.elements[0].food | ingredientList)} }}
                </div>
                <div *ngFor="let formula of menu.formulas">
                    {{formula.description}} {{formula.price}}
                    <app-add-to-cart-button [name]="menu | choiceName: category" [categoryElement]="menu" [formulaId]="formula.id"></app-add-to-cart-button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>