<mat-accordion *ngIf="restaurant$ | async as restaurant">
    <mat-expansion-panel *ngFor="let category of restaurant.categories; index as i; first as isFirst"
    [expanded]="((fragment$ | async) === null && isFirst) || (fragment$ | async) === category.name"
    [id]="category.name"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>{{category.name}}</mat-panel-title>
            <mat-panel-description>{{category.shortDescription}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <app-category-element-display
                *ngFor="let categoryElement of category.elements"
                class="category-element"
                [categoryElement]="categoryElement"
                [category]="category"
                (addToCart)="addToCart($event[0], $event[1], categoryElement)"
                >
            </app-category-element-display>
        </div>
    </mat-expansion-panel>
</mat-accordion>