<ng-container *ngFor="let priceElement of priceSet | keyvalue">
    <div *ngIf="formula[priceElement.value]">
        {{ ('FORMULA.PRICES.' + priceElement.value) | uppercase | translate : {PRICE: formula[priceElement.value]} }}
        <app-add-to-cart-button [elementToAdd]="formula" [formulaChoice]="priceElement.value"></app-add-to-cart-button>
    </div>
</ng-container>
<ng-container *ngFor="let element of elements">
    <div *ngIf="formula[element]">
        {{formula[element] | foodName}}
    </div>
</ng-container>