<div *ngIf="order$ | async as order">
    <div
        *ngFor="let orderElement of order"
        class="cart"
    >
        <div>
            <div>{{orderElement.name}}</div>
            <div>{{orderElement.price ?? orderElement.formula.price}}</div>
        </div>
        <div *ngIf="orderElement.formula.description">
            <div>{{ 'FORMULA.DESCRIPTION' | translate : {DESCRIPTION: orderElement.formula.description} }}</div>
            <div>{{orderElement.formula.price}}</div>
        </div>
        <ng-container *ngIf="orderElement.dishChoice">
            <ng-container *ngFor="let formulaEl of orderElement.formula.elements">
                <div>{{ getDishElement(formulaEl).name }}</div>
                <ng-container *ngIf="orderElement.dishChoice[formulaEl.id]">
                    <ng-container *ngFor="let choice of orderElement.dishChoice[formulaEl.id]">
                        <div>{{ choice.choice.name}}</div>
                        <ng-container *ngIf="choice.subChoice">
                            <ng-container *ngFor="let ingredientList of choice.subChoice | keyvalue">
    
    
                                <div *ngIf="getFoodElement(choice.choice, ingredientList.key) as foodElement" >{{ foodElement.child.name }} {{ foodElement.quantity }} :</div>
                                <div *ngFor="let ingredient of ingredientList.value">
                                    <div>{{ ingredient.name}}</div><div>{{ getFoodExtraPrice(ingredient.id, orderElement.extraPrices!) }}</div>
                                </div>
    
    
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div *ngIf="order.length === 0">{{'CART.EMPTY_CART' | translate}}</div>
</div>
