.cart {
    width: 100%;
    &-item-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-item-body {
        margin: 20px;
        .cart-item-formula {
            border-bottom: 1px solid black;
        }
        > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px dashed black;
        }
    } 
}